TestHarnessConsole/Connected Services/ServiceReference1/HttpsText.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:5001/ITimingSystemDataPreprocessingSvc/HttpsText?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetIfServiceIsAnswering">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfServiceIsAnsweringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIfServiceIsAnsweringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceEndpointsInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceEndpointsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServiceEndpointsInfoResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfPreprocessors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfPreprocessorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListOfPreprocessorsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfPreprocessorIdIsRecognised">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeNameOfPreprocessorModule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfPreprocessorIdIsRecognisedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIfPreprocessorIdIsRecognisedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutPreprocessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeNameOfPreprocessorModule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAboutPreprocessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInfoAboutPreprocessorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructionsFromPreprocessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeNameOfPreprocessorModule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructionsFromPreprocessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInstructionsFromPreprocessorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreprocessTimingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeNameOfPreprocessorModule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preprocessorPayloadAsJsonAsCompressedBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreprocessTimingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PreprocessTimingDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>